@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap');

body {
  background: rgb(255, 253, 250);
  margin: 0;
}

h1,h2,h3,h4,a,p,li,button {
  color: #36454F;
  font-family: 'Nunito';
  font-weight: normal;
}
